@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020817;

    --muted: #F1F5F9;
    --muted-foreground: #64748B;

    --popover: #FFFFFF;
    --popover-foreground: #020817;

    --card: #F1F5F9;
    --card-foreground: #020817;

    --border: #E2E8F0;
    --input: #E2E8F0;

    --primary: #1E293B;
    --primary-foreground: #F8FAFC;

    --secondary: #F1F5F9;
    --secondary-foreground: #1E293B;

    --accent: #F1F5F9;
    --accent-foreground: #1E293B;

    --destructive: #EF4444;
    --destructive-foreground: #F8FAFC;

    --ring: #020817;

    --radius: 0.5rem;

  }

  .dark {
    --background: #020817;
    --foreground: #F8FAFC;

    --muted: #1E293B;
    --muted-foreground: #94A3B8;

    --popover: #020817;
    --popover-foreground: #F8FAFC;

    --card: #020817;
    --card-foreground: #F8FAFC;

    --border: #1E293B;
    --input: #1E293B;

    --primary: #F8FAFC;
    --primary-foreground: #1E293B;

    --secondary: #1E293B;
    --secondary-foreground: #F8FAFC;

    --accent: #1E293B;
    --accent-foreground: #F8FAFC;

    --destructive: #7F1D1D;
    --destructive-foreground: #F8FAFC;

    --ring: #D1D5DB;


  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }